<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Modules Suite" parallel="false">
    <listeners>
        <listener class-name="core.RetryAnnotationTransformer"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="core.AllureTestListener"/>
    </listeners>
    <test name="Login">
        <classes>
            <class name="tests.ui.LoginTests"/>
        </classes>
    </test>
</suite>
